!!! 5
%html
  %head
    %title Community-driven promotion of GitHub repositories | Git Plugged
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    = render "application/navbar"

    .container
      - flash.keys.each do |key|
        %div{ class: "alert #{key}" }= flash[key]

      = yield

      = render "application/footer"

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js", "application"
    = yield :javascript
